<p>
    <strong> {{formateur.prenom}} </strong> {{formateur.nom}}
</p>

{# inclusion template à mettre dans le template
{# {%set formateur = formateur1 %} sans le with #}
{# {% include "_formateur.html.twig" with {"formateur": formateur1} %} #}
{# {%set formateur = formateur2 %} sans le with #}
{# {% include "_formateur.html.twig" with {"formateur": formateur2} %} #}